@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans&display=swap');

:root {
    --c1: #D48166;
    --c4: #d15f38;
    --c2: #373a36;
    --c3: #e6e2dd;

    font-size: 10px;
}

body {
    font-size: 16px;
}

* {
    font-family: 'Work Sans', sans-serif;
}

.hero-title {
    opacity: 0;
    font-size: 40px;
    color: var(--c2);
    position: relative;
    animation: from-top 0.75s ease-in-out 0.1s forwards;
}

.hero-banner {
    background-image: url("./assets/img/casa-hero.jpg");
    padding: 60px;
    border-bottom: 1px solid var(--c2);
    background-size: cover;
    text-align: center;
}

.hero-text {
    opacity: 0;
    position: relative;
    animation: from-top 0.75s ease-in-out 0.1s forwards;
}

.calltoactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.calltoactions button {
    padding: 10px 18px 10px 18px;
    width: 120px;
    margin: 10px;
    margin-top: 0px;
    background-color: var(--c1);
    color: var(--c3);
    border: 1px solid var(--c2);
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 16px;
}

.ctai {
    margin-right: 4px;
}

.calltoactions button:hover {
    background-color: var(--c4);
    cursor: pointer;
}

body {
    background-color: var(--c3);
    color: var(--c2);
    width: 100%;
    height: 100%;
    margin: 0px;
}

main {
    padding: 10px;
}

.fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

fieldset {
    border: 1px solid var(--c2);
    border-radius: 5px;
    margin: 0px 10px;
    width: 30rem;
    min-width: 25%;
}

@media (max-width: 715px) {
    .fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    fieldset {
        border: 1px solid var(--c2);
        border-radius: 5px;
        margin: 0px 10px;
        width: 30rem;
        min-width: 85%;
    }
}

fieldset:nth-child(odd) {
    opacity: 0;
    position: relative;
    animation: from-left 0.75s ease-in-out 0.1s forwards;
}

fieldset:nth-child(even) {
    opacity: 0;
    position: relative;
    animation: from-right 0.75s ease-in-out 0.1s forwards;

}

@keyframes from-top {
    from { opacity: 0; top: -200px }
    to { opacity: 1; top: 0px }
}

@keyframes from-left {
    from { opacity: 0; left: -400px }
    to { opacity: 1; left: 0px }
}

@keyframes from-right {
    from { opacity: 0; right: -400px }
    to { opacity: 1; right: 0px }
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }